body {
    font-family: "Diphylleia", serif;
    font-weight: 700;
    font-style: normal;
}

a {
    text-decoration: none;
    color: black;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
    background-color: white;
}

.inner {
    position: relative;
    width: 1100px;
    margin: 0 auto;
}

header > .inner {
    height: 120px;
    background-color: beige;
}

header .logo {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}

header .sub-menu {
    position: absolute;
    right: 0;
    top: 10px;
    display: flex;
    height: 40px;
}

header .sub-menu > ul {
    align-items: center;
    display: flex;
}

header .sub-menu > ul li {
    position: relative;
    padding: 0px 10px; /* 여백을 조정하여 경계선과의 간격 조절 */
}

header .sub-menu > ul li::before {
    position: absolute;
    left: 0;
    content: '';
    width: 1px;
    height: 16px;
    background-color: black;
    top: 50%;
    transform: translatey(-50%);
}

header .sub-menu > ul li:first-child::before {
    display: none; /* 첫 번째 li의 경계선 숨김 */
}

header .sub-menu .search {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 5px 0 0 ;
}

header .sub-menu .search > input {
    border-radius: 10px;
    width: 30px;
    height: 30px;
    transition: 0.6s;
}

header .sub-menu .search > input:focus {
    width:180px;
}

header .sub-menu .search .material-icons {
    position: absolute;
    left: 7px;
    top: 50%;
    transform: translateY(-50%);
}

header .sub-menu .search.focused .material-icons {
    display: none;
}

header .main-menu {
    position: absolute;
    bottom: 0;
    right: 5px;
}

header .main-menu > ul {
    display: flex;
}

header .main-menu .item {
    padding: 10px;
    border-radius: 10px 10px 0 0;
}

header .main-menu .item:hover {
    color: orange;
    background-color: black;
}

header .main-menu .item .item_contents {
    display: none;
}

header .main-menu .item:hover .item_contents {
    display: block;
}

header .main-menu .item .item_contents {
    position: fixed;
    left: 0;
    top: 120px;
    width: 100%;
    background-color: black;
}

header .main-menu .item .item_contents .contents_menu > ul {
    display: flex;
    padding: 10px;
}

header .main-menu .item .item_contents .contents_menu > ul li {
    width: 220px;
}

header .main-menu .item .item_contents .contents_menu > ul li h4 {
    padding: 10px 0;
    font-size: 22px;
    color: white;
}

header .main-menu .item .item_contents .contents_menu > ul li > ul li {
    padding: 5px 0;
    color: lightcyan;
}

header .main-menu .item .item_contents .contents_texture {
    background-image: url(./images/main_menu_pattern.jpg);
}

header .main-menu .item .item_contents .contents_texture .inner {
    padding: 10px;
}

header .main-menu .item .item_contents .contents_texture .inner > h4 {
    padding: 5px 0;
    font-size: 16px;
    color: white;
}

header .main-menu .item .item_contents .contents_texture .inner > p {
    padding: 5px 0;
    font-size: 14px;
    color: lightcyan;
}

header .badges {
    position: fixed;
    top: 132px;
    right: 38px;
}

header .badges .badge {
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 10px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

img {
    display: block;
}

.btn {
    box-sizing: border-box;
    border-radius: 5px;
    border: 2px solid black;
    padding: 10px;
    font-weight: 900;
    width: 130px;
    text-align: center;
    transition: .6s;
    cursor: pointer;
}

.btn:hover {
    color: white;
    background-color: black;
}

.btn.btn--brown {
    color: brown;
    border-color: brown;
}

.btn.btn--brown:hover {
    color: white;
    background-color: brown;
}

.visual {
    margin-top: 120px;
    background-image: url(./images/visual_bg.jpg);
    background-position: center;
}

.visual > .inner {
    height: 646px;
}

.visual .title {
    position: absolute;
    left: 10px;
}

.visual .btn.btn--brown {
    position: absolute;
    top: 220px;
    left: 140px;
}

.visual .cup1.image {
    position: absolute;
    right: -30px;
}

.visual .cup1.text {
    position: absolute;
    top: 80px;
    right: 220px;
}

.visual .cup2.image {
    position: absolute;
    right: 190px;
    top: 120px;
}

.visual .cup2.text {
    position: absolute;
    right: 460px;
    top: 240px;
}

.visual .spoon {
    position: absolute;
    top: 320px;
    left: 180px;
}

.fade-in {
    opacity: 0;
}

.notice {
    position: relative;
}

.notice .bg-left {
    position: absolute;
    width: 50%;
    height: 100%;
    left: 0;
    background-color: black;
}

.notice .bg-right {
    position: absolute;
    height: 100%;
    width: 50%;
    right: 0;
    background-color: white;
}

.notice > .inner {
    height: 62px;
    display: flex;
}

.notice .inner-left {
    display: flex;
    width: 70%;
    background-color: black;
    align-items: center;
}

.notice .inner-left h4 {
    color: white;
    margin-right: 20px;
}

.notice .swiper {
    flex-grow: 1;
    height: 62px;
}

.notice .notice_circle {
    width: 62px;
    height: 62px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.notice .notice_circle .material-icons {
    color: white;
    font-size: 30px;
}

.notice .swiper .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.notice .inner-right {
    display: flex;
    width: 30%;
    background-color: white;
    align-items: center;
    justify-content: center;
}

.notice .inner-right h2 {
    margin-right: 20px;
}

.notice .inner-right .material-icons {
    font-size: 30px;
    cursor: pointer;
}

.promotion {
    position: relative;
    height: 663px;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.promotion .swiper {
    height: 553px;
    width: calc(819px * 3 + 10px * 2);
    flex-shrink: 0;
}

.promotion.hide {
    height: 0;
}

.promotion .swiper-slide {
    position: relative;
    opacity: 0.5;
    transition: opacity 1s;
}

.promotion .swiper-slide-active {
    opacity: 1;
}

.promotion .swiper-slide .btn {
    position: absolute;
    bottom: 15px;
    left: 0;
    right: 0;
    margin: auto;
}

.promotion .swiper-pagination {
    bottom: 40px !important; 
}

.promotion .swiper-pagination .swiper-pagination-bullet {
    background-image: url(./images/promotion_slide_pager.png);
    width: 13px;
    height: 13px;
    background-color: transparent;
}

.promotion .swiper-pagination .swiper-pagination-bullet-active {
    background-image: url(./images/promotion_slide_pager_on.png);
}

.promotion .swiper-button-prev, .promotion .swiper-button-next {
    width: 42px;
    height: 42px;
    color: black;
    border: 2px solid black;
    border-radius: 50%;
}

.promotion .swiper-button-prev::after, .promotion .swiper-button-next::after {
    display: none;
}

.promotion .swiper-button-prev:hover, .promotion .swiper-button-next:hover {
    background-color: black;
    color: white;
}

.promotion .swiper-button-prev {
    top: 78%;
    left: 12%;
}

.promotion .swiper-button-next {
    top: 78%;
    right: 12%;
}