body {
    font-family: "Diphylleia", serif;
    font-weight: 700;
    font-style: normal;
}

a {
    text-decoration: none;
    color: black;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
    background-color: white;
}

.inner {
    position: relative;
    width: 1100px;
    margin: 0 auto;
}

header>.inner {
    height: 120px;
    background-color: beige;
}

header .logo {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}

header .sub-menu {
    position: absolute;
    right: 0;
    top: 10px;
    display: flex;
    height: 40px;
}

header .sub-menu>ul {
    align-items: center;
    display: flex;
}

header .sub-menu>ul li {
    position: relative;
    padding: 0px 10px;
    /* 여백을 조정하여 경계선과의 간격 조절 */
}

header .sub-menu>ul li::before {
    position: absolute;
    left: 0;
    content: '';
    width: 1px;
    height: 16px;
    background-color: black;
    top: 50%;
    transform: translatey(-50%);
}

header .sub-menu>ul li:first-child::before {
    display: none;
    /* 첫 번째 li의 경계선 숨김 */
}

header .sub-menu .search {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 5px 0 0;
}

header .sub-menu .search>input {
    border-radius: 10px;
    width: 30px;
    height: 30px;
    transition: 0.6s;
}

header .sub-menu .search>input:focus {
    width: 180px;
}

header .sub-menu .search .material-icons {
    position: absolute;
    left: 7px;
    top: 50%;
    transform: translateY(-50%);
}

header .sub-menu .search.focused .material-icons {
    display: none;
}

header .main-menu {
    position: absolute;
    bottom: 0;
    right: 5px;
}

header .main-menu>ul {
    display: flex;
}

header .main-menu .item {
    padding: 10px;
    border-radius: 10px 10px 0 0;
}

header .main-menu .item:hover {
    color: orange;
    background-color: black;
}

header .main-menu .item .item_contents {
    display: none;
}

header .main-menu .item:hover .item_contents {
    display: block;
}

header .main-menu .item .item_contents {
    position: fixed;
    left: 0;
    top: 120px;
    width: 100%;
    background-color: black;
}

header .main-menu .item .item_contents .contents_menu>ul {
    display: flex;
    padding: 10px;
}

header .main-menu .item .item_contents .contents_menu>ul li {
    width: 220px;
}

header .main-menu .item .item_contents .contents_menu>ul li h4 {
    padding: 10px 0;
    font-size: 22px;
    color: white;
}

header .main-menu .item .item_contents .contents_menu>ul li>ul li {
    padding: 5px 0;
    color: lightcyan;
}

header .main-menu .item .item_contents .contents_texture {
    background-image: url(./images/main_menu_pattern.jpg);
}

header .main-menu .item .item_contents .contents_texture .inner {
    padding: 10px;
}

header .main-menu .item .item_contents .contents_texture .inner>h4 {
    padding: 5px 0;
    font-size: 16px;
    color: white;
}

header .main-menu .item .item_contents .contents_texture .inner>p {
    padding: 5px 0;
    font-size: 14px;
    color: lightcyan;
}

header .badges {
    position: fixed;
    top: 132px;
    right: 38px;
}

header .badges .badge {
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 10px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

img {
    display: block;
}

.btn {
    box-sizing: border-box;
    border-radius: 5px;
    border: 2px solid black;
    padding: 10px;
    font-weight: 900;
    width: 130px;
    text-align: center;
    transition: .6s;
    cursor: pointer;
}

.btn:hover {
    color: white;
    background-color: black;
}

.btn.btn--brown {
    color: brown;
    border-color: brown;
}

.btn.btn--brown:hover {
    color: white;
    background-color: brown;
}

.visual {
    margin-top: 120px;
    background-image: url(./images/visual_bg.jpg);
    background-position: center;
}

.visual>.inner {
    height: 646px;
}

.visual .title {
    position: absolute;
    left: 10px;
}

.visual .btn.btn--brown {
    position: absolute;
    top: 220px;
    left: 140px;
}

.visual .cup1.image {
    position: absolute;
    right: -30px;
}

.visual .cup1.text {
    position: absolute;
    top: 80px;
    right: 220px;
}

.visual .cup2.image {
    position: absolute;
    right: 190px;
    top: 120px;
}

.visual .cup2.text {
    position: absolute;
    right: 460px;
    top: 240px;
}

.visual .spoon {
    position: absolute;
    top: 320px;
    left: 180px;
}

.fade-in {
    opacity: 0;
}

.notice {
    position: relative;
}

.notice .bg-left {
    position: absolute;
    width: 50%;
    height: 100%;
    left: 0;
    background-color: black;
}

.notice .bg-right {
    position: absolute;
    height: 100%;
    width: 50%;
    right: 0;
    background-color: white;
}

.notice>.inner {
    height: 62px;
    display: flex;
}

.notice .inner-left {
    display: flex;
    width: 70%;
    background-color: black;
    align-items: center;
}

.notice .inner-left h4 {
    color: white;
    margin-right: 20px;
}

.notice .swiper {
    flex-grow: 1;
    height: 62px;
}

.notice .notice_circle {
    width: 62px;
    height: 62px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.notice .notice_circle .material-icons {
    color: white;
    font-size: 30px;
}

.notice .swiper .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.notice .inner-right {
    display: flex;
    width: 30%;
    background-color: white;
    align-items: center;
    justify-content: center;
}

.notice .inner-right h2 {
    margin-right: 20px;
}

.notice .inner-right .material-icons {
    font-size: 30px;
    cursor: pointer;
}

.promotion {
    position: relative;
    height: 663px;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.promotion .swiper {
    height: 553px;
    width: calc(819px * 3 + 10px * 2);
    flex-shrink: 0;
}

.promotion.hide {
    height: 0;
}

.promotion .swiper-slide {
    position: relative;
    opacity: 0.5;
    transition: opacity 1s;
}

.promotion .swiper-slide-active {
    opacity: 1;
}

.promotion .swiper-slide .btn {
    position: absolute;
    bottom: 15px;
    left: 0;
    right: 0;
    margin: auto;
}

.promotion .swiper-pagination {
    bottom: 40px !important;
}

.promotion .swiper-pagination .swiper-pagination-bullet {
    background-image: url(./images/promotion_slide_pager.png);
    width: 13px;
    height: 13px;
    background-color: transparent;
}

.promotion .swiper-pagination .swiper-pagination-bullet-active {
    background-image: url(./images/promotion_slide_pager_on.png);
}

.promotion .swiper-button-prev,
.promotion .swiper-button-next {
    width: 42px;
    height: 42px;
    color: black;
    border: 2px solid black;
    border-radius: 50%;
}

.promotion .swiper-button-prev::after,
.promotion .swiper-button-next::after {
    display: none;
}

.promotion .swiper-button-prev:hover,
.promotion .swiper-button-next:hover {
    background-color: black;
    color: white;
}

.promotion .swiper-button-prev {
    top: 78%;
    left: 12%;
}

.promotion .swiper-button-next {
    top: 78%;
    right: 12%;
}

.rewards {
    position: relative;
}

.rewards .bg-left {
    position: absolute;
    width: 50%;
    height: 100%;
    background-color: #272727;
    left: 0;
    top: 0;
}

.rewards .bg-right {
    position: absolute;
    width: 50%;
    height: 100%;
    background-color: #d5c798;
    right: 0;
    top: 0;
}

.rewards .inner {
    height: 241px;
}

.rewards .btn-group {
    width: 250px;
    position: absolute;
    right: 0;
    bottom: 24px;
    display: flex;
    flex-wrap: wrap;
}

.rewards .btn.sign-up {
    width: 130px;
    margin-right: 10px;
}

.rewards .btn.sign-in {
    width: 110px;
}

.rewards .btn.gift {
    flex-grow: 1;
    margin-top: 10px;
}

.btn.btn--reverse {
    color: white;
    background-color: black;
}

.btn.btn--reverse:hover {
    color: black;
    background-color: transparent;
}

.youtube {
    position: relative;
    height: 700px;
    background-color: #272727;
    overflow: hidden;
}

.youtube .youtube_area {
    --width: 1920px;
    position: absolute;
    width: var(--width);
    height: calc(var(--width) * 9 / 16);
    top: 50%;
    left: 50%;
    margin-left: calc(var(--width) / -2);
    margin-top: calc(var(--width) * 9 / 16 / -2);
}

#player {
    position: absolute;
    width: 100%;
    height: 100%;
}

.youtube .youtube_cover {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.15);
    background-image: url(./images/video_cover_pattern.png);
}

.youtube .inner {
    height: 100%;
}

.youtube .floating1 {
    position: absolute;
    top: 50px;
    left: 30px;
}

.youtube .floating2 {
    position: absolute;
    top: 350px;
    left: -30px;
}

.season-product .floating3 {
    position: absolute;
    top: -50px;
    right: 0;
}

.season-product {
    background-image: url(./images/season_product_bg.jpg);
}

.season-product .inner {
    height: 400px;
}

.season-product .text-group {
    position: absolute;
    top: 110px;
    right: 100px;
}

.season-product .text-group .title {
    margin-bottom: 10px;
}

.season-product .text-group .description {
    margin-bottom: 20px;
}

.reserve-coffee {
    background-image: url(./images/reserve_bg.jpg);
}

.reserve-coffee .inner {
    height: 400px;
}

.reserve-coffee .reserve-logo {
    position: absolute;
    top: 110px;
    left: 0;
}

.reserve-coffee .text-group {
    position: absolute;
    top: 124px;
    left: 200px;
}

.reserve-coffee .product {
    position: absolute;
    top: 0;
    right: 0;
}
.reserve-coffee .text-group .description {
    margin-bottom: 10px;
}

.btn.btn--gold {
    border-color: #D9aa8a;
    color: #D9aa8a;
}

.btn.btn--gold:hover {
    background-color: #D9aa8a;
    color: white;
}

.btn.btn--white {
    border-color: white;
    color: white;
}

.btn.btn--white:hover {
    background-color: white;
    color: black;
}

.pick-your-favorite {
    background-image: url(./images/favorite_bg.jpg);
}

.pick-your-favorite .inner {
    padding: 110px 0;
}

.pick-your-favorite .text-group {
    width: 360px;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin-left: 100px;
}

.pick-your-favorite .text-group .title {
    margin-bottom: 40px;
}

.pick-your-favorite .text-group .description {
    margin-bottom: 40px;
}

.reserve-store {
    background-image: url(./images/reserve_store_bg.jpg);
}

.reserve-store .inner {
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reserve-store .medal {
    width: 334px;
    height: 334px;
    perspective: 900px;
}

.reserve-store .medal .front {
    position: absolute;
    transition: 1s;
}

.reserve-store .medal .back {
    position: absolute;
    transition: 1s;
    transform: rotateY(-180deg);
    backface-visibility: hidden;
}

.reserve-store .medal:hover .front {
    transform: rotateY(180deg);
}

.reserve-store .medal:hover .back {
    transform: rotateY(0);
}

.reserve-store .medal .back .btn {
    position: absolute;
    right: 0;
    left: 0;
    top: 240px;
    margin: auto;
}

.find-store {
    background-image: url(./images/find_store_bg.jpg);
}

.find-store .inner {
    height: 400px;
}

.find-store .texture1 {
    position: absolute;
    top: 0;
    left: 400px;
}

.find-store .texture2 {
    position: absolute;
    bottom: 0;
    right: 0;
}

.find-store .picture1 {
    position: absolute;
    border-radius: 50%;
    box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.5);
    top: -60px;
    left: 0;
}

.find-store .picture2 {
    position: absolute;
    border-radius: 50%;
    box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.5);
    top: 150px;
    left: 250px;
}

.find-store .text-group {
    position: absolute;
    top: 120px;
    left: 550px;
}

.find-store .text-group .title {
    margin-bottom: 20px;
}

.find-store .text-group .description {
    margin-bottom: 30px;
}

.back-to-position {
    opacity: 0;
    transition-duration: 1s;
}

.back-to-position.to-left {
    transform: translateX(150px);
}

.back-to-position.to-right {
    transform: translateX(-150px);
}

.show .back-to-position {
    opacity: 1;
    transform: translateX(0);
}

.show .back-to-position.delay-1 {
    transition-delay: .3s;
}

.show .back-to-position.delay-2 {
    transition-delay: .6s;
}

.show .back-to-position.delay-3 {
    transition-delay: .9s;
}

.awards {
    background-color: #272727;
}

.awards .inner {
    padding: 20px 0;
}

.awards .swiper-button-prev::after,
.awards .swiper-button-next::after {
    display: none;
}

.awards .swiper-button-prev,
.awards .swiper-button-next {
    position: absolute;
    width: 42px;
    height: 42px;
    color: white;
    border: 2px solid white;
    border-radius: 50%;
}

.awards .swiper-button-prev:hover,
.awards .swiper-button-next:hover {
    color: #272727;
    background-color: white;
}

.awards .swiper-button-prev {
    left: -100px;
}

.awards .swiper-button-next {
    right: -100px;
}

footer {
    background-color: #272727;
    border-top: 1px solid #333;
}

footer .inner {
    padding: 30px;
}

footer .menu {
    display: flex;
    justify-content: center;
}

footer .menu li a {
    color: #999;
    padding: 15px;
}

footer .menu li {
    position: relative;
}

footer .menu li::before {
    position: absolute;
    content: '';
    width: 3px;
    height: 3px;
    top: 0;
    bottom: 0;
    margin: auto;
    background-color: #555
}

footer .menu li:first-child::before {
    display: none;
}

footer .menu li a.orange {
    color: orange;
}

footer .btn-group {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

footer .btn-group .btn {
    margin-right: 10px;
}

footer .btn-group .btn:last-child {
    margin-right: 0;
}

footer .info {
    margin-top: 20px;
    text-align: center;
}

footer .info span {
    margin-right: 20px;
    color: #999;
}

footer .info span:last-child {
    margin-right: 0;
}

footer .copyright {
    text-align: center;
    color: #999;
    margin-top: 10px;
}

footer .logo {
    margin: 30px auto 0;
}

#to-top {
    width: 42px;
    height: 42px;
    color: #999;
    border: 2px solid #999;
    border-radius: 10px;
    position: fixed;
    right: 20px;
    bottom: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

#to-top:hover {
    color: black;
    background-color: white;
}